{% capture root_url %}{{ site.root | strip_slash }}{% endcapture %}
{% include head.html %}
<body {% if page.body_id %} id="{{ page.body_id }}" {% endif %} {% if page.sidebar == false %} class="no-sidebar" {% endif %}>
  <header>{% include header.html %}</header>
  <nav role=navigation>{% include navigation.html %}</nav>
  <div id="main">
    <div id="content">
      {{ content | expand_urls: root_url }}
    </div>
  </div>
  <footer>{% include footer.html %}</footer>
  {% include google_analytics.html %}
  {% include google_plus_one.html %}
  {% include twitter_sharing.html %}
	<script>
	var pageTracker = _gat._getTracker("UA-97674-11");
	pageTracker._initData();
	pageTracker._trackPageview();
	</script>
	<script>
	var _gauges = _gauges || [];
	(function() {
	var t   = document.createElement('script');
	t.type  = 'text/javascript';
	t.async = true;
	t.id    = 'gauges-tracker';
	t.setAttribute('data-site-id', '4e36125f613f5d557e000001');
	t.src = '//secure.gaug.es/track.js';
	var s = document.getElementsByTagName('script')[0];
	s.parentNode.insertBefore(t, s);
	})();
	</script>
</body>
</html>
